<section class="shadow-lg p-8 px-10 my-8 md:my-0">
  <!-- Primer Item -->
  <h2 class="text-2xl font-bold mb-4">Educación</h2>

  <div class="flex items-start mb-8">
    <img
      src="https://i.imgur.com/dTf7d8n.png"
      alt="Ninja Academy"
      class="w-20 h-20 mr-8"
    />
    <div>
      <h3 class="text-lg font-medium mb-2">Ninja Academy</h3>
      <p class="text-gray-700 text-justify">
        Graduated from the Ninja Academy in Konohagakure.
      </p>
    </div>
  </div>

  <!-- Segundo Item -->
  <div class="flex items-start mb-8">
    <img
      src="https://i.imgur.com/tomCjgb.png"
      alt="Sage Training"
      class="w-20 h-20 mr-8"
    />
    <div>
      <h3 class="text-lg font-medium mb-2">Sage Training</h3>
      <p class="text-gray-700 text-justify">
        Trained under Jiraiya to become a Sage, learning new techniques and
        improving his chakra control.
      </p>
    </div>
  </div>

  <!-- Tercer Item -->
  <div class="flex items-start">
    <img
      src="https://i.imgur.com/xTw1Agg.png"
      alt="Six Paths Power"
      class="w-20 h-20 mr-8"
    />
    <div>
      <h3 class="text-lg font-medium mb-2">Six Paths Power</h3>
      <p class="text-gray-700 text-justify">
        Obtained the Six Paths Power during the Fourth Great Shinobi War,
        granting him immense power and abilities.
      </p>
    </div>
  </div>
</section>
