<section class="mt-4 mb-20 p-8 pb-16">
  <h3 class="text-lg font-medium mb-2">Proyectos destacados</h3>
  <div class="flex flex-wrap justify-center md:flex-row md:-mx-4">
    <div
      class="w-full sm:w-1/2 lg:w-1/3 md:px-4 mb-4"
      *ngFor="let item of data"
    >
      <div class="bg-white rounded-lg shadow-md p-4" *ngIf="!item.editando">
        <h4
          class="text-gray-800 font-medium mb-2"
          (click)="loginStatus() && editMode() && editarItem(item)"
        >
          {{ item.titulo }}
        </h4>
        <p
          class="text-gray-600 mb-4 proyectos-descripcion"
          (click)="loginStatus() && editMode() && editarItem(item)"
        >
          {{ item.descripcion }}
        </p>
        <img
          [src]="item.foto_url"
          [alt]="item.nombre"
          (click)="loginStatus() && editMode() && fileInput.click()"
          class="mb-4 proyectos-img"
        />
        <input
          #fileInput
          type="file"
          accept="image/png, image/jpeg"
          (change)="subirImagen($event, item)"
          hidden
        />
        <a
          [href]="item.link"
          class="text-blue-600 hover:text-blue-800 font-medium"
          >Ver proyecto</a
        >
        <div class="w-min md:w-auto mt-2 md:mt-4 flex" *ngIf="editMode()">
          <button class="w-7 cursor-pointer">
            <svg
              class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium MuiBox-root css-1om0hkc"
              focusable="false"
              aria-hidden="true"
              viewBox="0 0 24 24"
              data-testid="EditIcon"
              (click)="editarItem(item)"
            >
              <path
                d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34a.9959.9959 0 0 0-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"
              ></path>
            </svg>
          </button>

          <button (click)="eliminarItem(item.id)" class="w-7 cursor-pointer">
            <svg
              class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium MuiBox-root css-10cscxr"
              focusable="false"
              aria-hidden="true"
              viewBox="0 0 24 24"
              data-testid="DeleteIcon"
            >
              <path
                d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"
              ></path>
            </svg>
          </button>
        </div>
      </div>
      <div class="bg-white rounded-lg shadow-md p-4" *ngIf="item.editando">
        <form (submit)="guardarCambios(item)">
          <div>
            <input
              class="text-gray-800 font-medium mb-2 w-full"
              type="text"
              id="titulo"
              name="titulo"
              [(ngModel)]="item.titulo"
              required
            />
          </div>
          <div></div>
          <div>
            <textarea
              class="text-gray-600 mb-4 proyectos-descripcion w-full"
              id="descripcion"
              [(ngModel)]="item.descripcion"
              name="description"
              required
            ></textarea>
            <img
              [src]="item.foto_url"
              [alt]="item.nombre"
              (click)="loginStatus() && editMode() && fileInput.click()"
              class="mb-4 proyectos-img"
            />
            <input
              #fileInput
              type="file"
              accept="image/png, image/jpeg"
              (change)="subirImagen($event, item)"
              hidden
            />
            <label for="link" class="text-gray-500"> Link: </label>
            <input
              class="text-gray-800 font-medium mb-2"
              type="text"
              id="link"
              name="link"
              class="w-full"
              [(ngModel)]="item.link"
              required
            />
          </div>
          <div class="mt-4">
            <button type="submit" class="w-7 cursor-pointer">
              <svg
                class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium MuiBox-root css-10cscxr"
                focusable="false"
                aria-hidden="true"
                viewBox="0 0 24 24"
                data-testid="SaveIcon"
              >
                <path
                  d="M17 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V7l-4-4zm-5 16c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3zm3-10H5V5h10v4z"
                ></path>
              </svg>
            </button>
            <button (click)="cancelarEdicion(item)" class="w-7 cursor-pointer">
              <svg
                class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium MuiBox-root css-10cscxr"
                focusable="false"
                aria-hidden="true"
                viewBox="0 0 24 24"
                data-testid="CloseIcon"
              >
                <path
                  d="M19 6.41 17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
                ></path>
              </svg>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div *ngIf="editMode()">
    <button
      (click)="agregarSeccion()"
      class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
    >
      Agregar
    </button>
  </div>
</section>
